@use "variables/global.scss";
@use "themes/dark.scss";
@use "themes/normal.scss";
@use "reset.scss";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}